@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

// Set your brand colors
$dark: #36413d;
$blue: #4c657e;
$pink: #f29696;
$light-accent: #ffe2ad;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Oswald', sans-serif;
$grey-dark: $pink;
$grey-light: $beige-lighter;
$primary: $blue;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

.has-bg-img { 
    background-color: rgba(237, 229, 240, 0.63);
    background-image: url('https://lh3.googleusercontent.com/PQJ4hflLPKyaYE-lgn9LRCCkdbivWzAQ82grG-EeqCzhfZDPt6r3G9vM4YwjXqPlqTDPP9k39MDsrUihBIOjxnQ8JY8izcHFCO_uzk9_rIioHNQMRrDdW8vionWth3Ucza6Uv_V61yIerck4s5r9bRTr2143fItsjqTiNGFheuP50R2MOmzhXzZooni2Ohl2Zyn_Q2-Fo_RtHYYyQXQOnvHDUjeNDm1jYjl1M6ciPWRLcDzNmQKXeXS0JFiRQAHhynybidvCxa8A66CXp0610XxdHtslnf6k0xsvD7McqXDzMwJqwHYamppJRd6Y9SdLgrN9YKsVjk7ZzKXAKNpraSd7bkuOZoTEH8NwCRnlucgIaC4gMvG1Mj2ET8i13T1lgghrx2aRZaNldKbU90HdZoSFcr6FeO7Dodt5ClzHNZ6FUFfMr-s_Kqevws-MhD3CW6tvhCVtLpXyLHcxOs_6ikmxi80WictMTg2xKKB4OBqFmzNIaeVEl1YBHEV8ja2jdFzmEWhmEKoZ9-e_jAvoD3HOkGup_56RjjWYWpdRZsxRZxQ0Z-qAY2II_BHv9yAf1mjwLACzlc9mmietEyKaZaOJeGnZOQMKN64ePeFvxKft1OXWSSvA62j9lTDQviyXW817CT0sDBQ6aV9PjBBQqj-447_kwZXDX9UHwjGeDizbytYzQ6laTMX6QJQ=w1299-h868-no?authuser=0');
    background-size: cover;
    
}

#nameBanner {
    
    .title {
        
        font-size: 5rem;
        color: $dark;
        opacity: 1;
    }
    .subtitle {
        color: $blue;
    }
}